# Server
PORT=8000
CORS_Origin=http://localhost:5173

# Database
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>

# Clerk
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
